/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

*,
.contactgym *:before,
.contactgym *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html,
body {
    height: 100%;
} */

.contactgym {
    font: 14px/1 'Open Sans', sans-serif;
    color: #555;
    background: #eee;
}

.contactgym h1 {
    /* font: 14px/1 'Open Sans', sans-serif; */
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

.contactgym p {
    margin: 0 0 20px;
    line-height: 1.5;
}

.contactgym main {
    min-width: 320px;
    max-width: 1150px;
    padding: 50px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
}

.contactgym #content {
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
    text-align: left;
}

.contactgym input {
    display: none;
}

.contactgym label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
    border-bottom: 1px solid #bbb;
}

.contactgym label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

.contactgym label:hover {
    color: #888;
    cursor: pointer;
}

.contactgym input:checked+label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}


@media screen and (max-width: 650px) {
    .contactgym label {
        font-size: 0;
    }

    .contactgym label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .contactgym label {
        padding: 15px;
    }
}

.contactgym .tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.contactgym .tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.contactgym .tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.contactgym .tg .tg-prof {
    font-weight: bold;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif !important;
    ;
    text-align: center
}

.contactgym .tg .tg-jye2 {
    font-size: 13px;
    font-family: Georgia, serif !important;
    ;
    text-align: center
}

.contactgym .tg .tg-8x98 {
    font-size: 13px;
    font-family: Georgia, serif !important;
}

.contactgym .tg .tg-49q9 {
    font-size: 13px;
    font-family: Georgia, serif !important;
    ;
    text-align: center;
    vertical-align: top
}

.contactgym .tg .tg-cver {
    font-size: 13px;
    font-family: Georgia, serif !important;
    ;
    vertical-align: top
}

.contactgym .tg .tg-yw4l {
    vertical-align: top
}